[submodule "DockerConcepts"]
	path = DockerConcepts
	url = https://github.com/nitinkc/DockerConcepts.git
[submodule "GCP_Kubernetes"]
	path = GCP_Kubernetes
	url = https://github.com/nitinkc/GCP_Kubernetes.git
[submodule "HelmCharts"]
	path = HelmCharts
	url = https://github.com/nitinkc/HelmCharts.git
[submodule "gitlab-spring-app-flux"]
	path = gitlab-spring-app-flux
	url = https://gitlab.com/grp-flux/gitlab-spring-app-flux.git
[submodule "jenkins-learning"]
	path = jenkins-learning
	url = https://github.com/nitinkc/jenkins-learning.git
[submodule "terraform-concepts"]
	path = terraform-concepts
	url = https://github.com/nitinkc/terraform-concepts.git
[submodule "K8SHelloWorld"]
	path = K8SHelloWorld
	url = https://github.com/nitinkc/K8SHelloWorld.git
[submodule "DevOpsLearning"]
	path = DevOpsLearning
	url = https://github.com/nitinkc/DevOpsLearning.git
